services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "3001:3001"
    env_file:
      - .env.server
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped

  # client:
  #   build:
  #     context: .
  #     dockerfile: client/Dockerfile
  #   ports:
  #     - "3000:3000"
  #   env_file:
  #     - .env.client
  #   depends_on:
  #     - server
  #   networks:
  #     - app-network

  postgres:
    image: postgres:17-alpine
    ports:
      - "5433:5432"
    env_file:
      - .env.server
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    ports:
      - "5050:80"
    env_file:
      - .env.server
    depends_on:
      - postgres
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
